table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    
  }

.btns {
    width: 20%;
}
  
.date {
    width: 20%;
    text-align: center;
}
td, th {
    border: 1px solid #5f93e2;
    text-align: center;
    padding: 5px;
}

.tableBody:nth-child(odd) {
    background: rgb(186, 215, 231);
}

.body {
    width: 1000px;
}

.tableHead {
    background: rgb(148, 201, 230);
}

.formStyle {
    padding: 30px 0px 30px 300px;
    background-color: rgb(218, 232, 240);
}

.table {
    background-color: rgb(218, 232, 240);
    padding: 0px 0px 30px 180px;
}

.message{
    color: green;
}

.message2{
    color: red;
}
