ul {
    list-style: none;
}
li {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 5px;
}

li:nth-child(odd) {
    background: azure;
}

.formStyle {
    padding: 30px 10px 30px 10px;
}

.editDue {
    font-weight: bold;
}
/* 
.key {
    visibility: hidden;
} */